* {
    text-align: right;
}

body {
    background-image: url(desertnight.jpg);
    background-size: cover;
}

h2 + p {
    color: rgb(58, 50, 50);
    text-align: center;
    border: 5px solid rgb(168, 100, 91);
    cursor: pointer;
}
p {
    text-transform: uppercase;
    line-height: 5px
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: "poiret one", "Times New Roman";
}

img {
    float: right;
}
footer {
    clear: both;
    text-align: center;
}
h2 {
    color: pink;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(255, 255, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 255, 0.2);
}